#b1, #b2, #b3, #b4, #b5{
background-color: rgb(255, 0, 0);
font-family: 'Times New Roman', Times, serif;
color: rgb(9, 255, 0);
}
input[type="number"]{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color:darkblue;
    background-color: rgb(139, 61, 61);
}
#fn, #sn{
    color: rgba(0, 255, 0, 0.473);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-image: url("https://th.bing.com/th/id/R.1086d5c37b6178297d0684f52df3d26c?rik=G1d8ipJvKwxyrg&pid=ImgRaw&r=0&sres=1&sresct=1");
background-repeat: repeat;
background-size: cover;
}
